<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.woope.woopeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".WoopeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"/>
        <activity android:name=".ui.Activities.PayActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.CashPayActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.PayCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.ConfirmPayActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.CreditPayActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.TransactionActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.StoreActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.MobileFormActivity" />
        <activity android:name=".ui.Activities.SmsVerificationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.UserRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ui.Activities.SendNumber_ChangePassActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.ChangePassActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>