<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.woope.woopeapp"
    android:versionCode="2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove"/>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-sdk
        tools:overrideLibrary="co.ronash.pushe" />
    <permission
        android:name="ir.woope.woopeapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="ir.woope.woopeapp.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Optional permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".WoopeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="ir.woope.woopeapp"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ir.woope.woopeapp" />
            </intent-filter>
        </receiver>

        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_442079978483"/>
        <meta-data android:name="co.ronash.pushe.cr" android:value="Tm9uZQ=="/>

        <activity
            android:name=".ui.Activities.MainActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:label="">

        </activity>
        <activity android:name=".ui.Activities.PayActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="woope"
                    android:host="paying" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activities.CashPayActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.PayCodeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.TransactionActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.StoreActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.SmsVerification_RegisterActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.Activities.UserRegisterActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.BankActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>
        <activity android:name=".ui.Activities.GiftActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.Activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activities.SendNumber_ChangePassActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.TransHistoryActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.Activities.SplashSelectActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ui.Activities.EditProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.Activities.VerifyPhoneActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.Activities.ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity android:name=".ui.Activities.NewPass_ChangePassActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity android:name=".ui.Activities.SmsVerification_ChangePassActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>

        <activity android:name=".ui.Activities.SliderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="">

        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>